vendor/
node_modules/
public/build/
public/storage/
.env
.env.*
.git/
.gitignore
storage/logs/*.log
storage/framework/cache/data/
storage/framework/sessions/
storage/framework/views/
.idea/
.vscode/
npm-debug.log
yarn-error.log
*.md
tests/
.phpunit.cache
.phpunit.result.cache
